<p>
  <mat-form-field class="width--100">
    <mat-select [(value)]="selected" placeholder="Choose a city">
      <mat-option *ngFor="let city of cities.cities" [value]="city.id">
        {{city.name}}
      </mat-option>
    </mat-select>
  </mat-form-field>
</p>
<mat-list>
  <mat-list-item *ngFor="let weather of weathers[selected]">
    <mat-icon class="list-icon" mat-list-icon>
      <img [src]="environment.cdn + weather.weather[0].icon + environment.iconExtension" [alt]="weather.weather[0].description" class="history-icon">
    </mat-icon>
    <h3 class="mat-title" mat-line>
      {{weather.main.temp}}
      <sup class="mat-hint">{{environment.symbol}}</sup>
      -
      {{weather.weather[0].description}}
    </h3>
    <p mat-line>
      {{
        dateUtil.UTCSecondsToDate(weather.dt).toDateString() + " " +
        dateUtil.UTCSecondsToDate(weather.dt).toLocaleTimeString()
      }}
    </p>
  </mat-list-item>
</mat-list>
