html, body{
  width: 100%;
  min-height: 100%;
}

body{
  background: #fafafa;
  background: linear-gradient(to bottom, #3f51b5 153px,#fafafa 153px) repeat-x;
}

.width--100{
  width: 100%;
}

@media screen and (min-height: 600px) {
  body{
    background: linear-gradient(to bottom, #3f51b5 200px,#fafafa 200px) repeat-x;
  }
}
