<div class="city-container" *ngIf="error">
  <div class="button-row">
    <button (click)="updateWeather()" mat-button color="accent">Retry</button>
  </div>
</div>
<div class="city-container" *ngIf="actual">
  <div class="city-name">
    <h2 class="mat-title">
      {{actual.name}}
    </h2>
    <p class="mat-caption no-margin">
      {{actual.weather[0].description}}
    </p>
  </div>
  <div class="city-degree">
    <p class="mat-title">
      {{actual.main.temp}}
      <sup class="mat-hint">
        {{environment.symbol}}
      </sup>
    </p>
  </div>
  <div class="city-icon">
    <img [src]="environment.cdn + actual.weather[0].icon + environment.iconExtension" [alt]="actual.weather[0].description">
  </div>
</div>
